.LoginRegisterForm{
	width: 400px;
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	box-shadow:0 8px 16px -6px black;
  	background-color: white;
  	border-radius: 5px;
}

.input{
	padding-left: 45px;
	width: 90%;
}
.formDiv{
	padding-top: 7px;
	padding-bottom: 7px;
}
.link{
	color : blue;
	text-decoration: underline;
}
.message{
	
	width:400px;
	position: absolute;
  	top:15%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.listContainer{
	padding-top: 50px;
}